{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block content_wrap %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <h1>User Profile</h1>

                {{ form_start(form) }}

                <div class="form-group">
                    {{ form_row(form.surname) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.name) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.patronymic) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.phone) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
