<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <ul>
            <li>
                <a href="{{ path('home') }}">Home</a>
            </li>
            <li>
                <a href="{{ path('project') }}">Project Manager</a>
                <ul>
                    <li>
                        <a href="{{ path('project') }}">Projects</a>
                    </li>
                    <li>
                        <a href="{{ path('status') }}">Statuses</a>
                    </li>
                    <li>
                        <a href="{{ path('user') }}">Users</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ path('post') }}">Posts</a>
            </li>
            <li>
                <a href="{{ path('category') }}">Categories</a>
            </li>
            <li>
                <a href="{{ path('comment') }}">Comments</a>
            </li>
            <li>
                <a href="{{ path('user') }}">Users</a>
            </li>
        </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
