{% extends '@BWSkeleton/Frontend/layout.html.twig' %}

{% block content -%}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Resource list</h1>

                <ul>
                    <li>
                        <a href="{{ path('resource_new') }}">
                            Add
                        </a>
                    </li>
                </ul>

                {% for entity in entities %}
                    <h2 style="display: inline;" title="{{ entity.description }}">
                        {{ entity.heading }}
                    </h2>
                        | <a href="{{ path('resource_edit', { 'id': entity.id }) }}">Edit</a>
                        | <a href="delete" title="{{ entity.description }}">Delete</a>
                    <div><a href="{{ entity.link }}">{{ entity.link|slice(0, 30) }}...</a></div>
                    <div>
                        Read: {{ entity.read ? 'yes' : 'no' }} |
                        Liked: {{ entity.liked ? 'yes' : 'no' }} |
                        Created: {% if entity.created %}{{ entity.created|date('d/m/y, H:i') }}{% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
