{% extends '@BWSkeleton/Frontend/layout.html.twig' %}

{% block title %}Resource list{% endblock %}

{% block content -%}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Resource list</h1>

                <ul>
                    <li>
                        <a href="{{ path('resource_new') }}">
                            Add
                        </a>
                    </li>
                </ul>

                {% if entities %}
                    <div class="tags">
                        <a href="{{ path('resource') }}">all tags</a> ::
                        {% for entity in entities %}
                            {% if entity.tags.count %}
                                {% for tag in entity.tags %}
                                    <a href="{{ path('resource_tagged', {'id': tag.id}) }}">{{ tag.name }}</a>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}


                {% if resources.count %}
                    <div class="resource">
                        {% for resource in resources %}
                            <h2 style="display: inline;" title="{{ resource.description }}">
                                {{ resource.heading }}
                            </h2>
                                | <a href="{{ path('resource_edit', { 'id': resource.id }) }}">Edit</a>
                            <div><a href="{{ resource.link }}">{{ resource.link }}</a></div>
                            <div class="actions">
                                Read: {{ resource.read ? 'yes' : 'no' }} |
                                Liked: {{ resource.liked ? 'yes' : 'no' }} |
                                Created: {% if resource.created %}{{ resource.created|date('d/m/y, H:i') }}{% endif %}
                            </div>
                            {% if resource.tags.count %}
                                <div class="tags">
                                    {% for tag in resource.tags %}
                                        <a href="{{ path('resource_tagged', {'id': tag.id}) }}">{{ tag.name }}</a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
