{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Resource</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Heading</th>
                <td>{{ entity.heading }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ entity.link }}</td>
            </tr>
            <tr>
                <th>Read</th>
                <td>{{ entity.read }}</td>
            </tr>
            <tr>
                <th>Liked</th>
                <td>{{ entity.liked }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('resource') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('resource_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
