{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block content_wrap %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <h1>Sign Up</h1>

            {{ form_start(form) }}

            <div class="form-group">
                {{ form_row(form.username) }}
            </div>

            <div class="form-group">
                {{ form_row(form.password) }}
            </div>

            <div class="form-group">
                {{ form_row(form.email) }}
            </div>

            {{ form_end(form) }}

            <div class="form-group">
                Already has account? <a href="{{ path('user_sign_in') }}">Sign in</a>!
            </div>
        </div>
    </div>
</div>
{% endblock %}
